.ergonomic {
    padding: 12px;
    min-height: 100vh;

    background-color: #F3F3F3;

    &__title {
        margin-bottom: 30px;

        font-family: 'Bebas Neue', cursive;
        font-style: normal;
        font-weight: bold;
        font-size: 38px; //38 - 62
        line-height: 100%;

        color: #0B64FE;
    }
    &__descrip {
        font-family: 'Ubuntu', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 16px; //12 - 22
        line-height: 170%;
        /* or 27px */

        color: #181818;
        &_desktop {
            display: none;
        }
        &_mobile {
            display: block;
        }
    }
}